<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>abyss</title>
  </head>
  <body>
    <nav>
        <ul>
          <li><strong>abyss.</strong></li>
        </ul>
        <ul>
          <li><a href="/login" class="contrast">Get Started</a></li>
        </ul>
      </nav>

    <main class="hero">
      <h1>abyss<span class="primary">.</span></h1>
      <h6><i>Let your thoughts fly away...</i></h6>
    </main>
  </body>
</html>